.header {
  .spacer {
    flex: 1 1 auto;
  }

  button,
  a {
    color: #fff;
  }

  button {
    border-color: #eee;
  }
}

.content {
  box-shadow: 0 0 0 0 #fff;
}

.mat-card {
  height: 80% !important;
  position: relative;
  overflow: hidden;
}

.mat-card-content {
  max-height: 100%;
  position: absolute;
  overflow: auto;
}